{% extends "base.html" %}

{% block title %}Liste des Adherents{% endblock %}

{% block content %}

<div class="container">

    <!-- Tableau des matériels -->
    <table id="materielTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>N° ASC</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Valide</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Téléphone</th>
                <th>Adhésion depuis</th>
            </tr>
        </thead>
        <tbody>
            {% for adherent in adherents %}
            <tr>
                <td>{{ adherent.numero_asc }}</td>
                <td>{{ adherent.nom }}</td>
                <td>{{ adherent.prenom }}</td>
                <td>{{ adherent.valide_asc }}</td>
                <td>{{ adherent.email }}</td>
                <td>{{ adherent.statut }}</td>
                <td>{{ adherent.telephone }}</td>
                <td>{{ adherent.depuis }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<!-- Initialisation de DataTables -->
<script>
    $(document).ready(function() {
        // Initialisation de DataTables
        var table = $('#materielTable').DataTable({
            "paging": true,           // Pagination activée
            "searching": true,        // Recherche en temps réel activée
            "ordering": true,         // Tri activé
            "info": true,             // Affichage de l'information de pagination
            "lengthMenu": [100, 200, -1],  // Options de nombre d'éléments par page
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/French.json" // Traduction en français
            }
        });
    });
</script>

</div>

<a href="/adherents/add" class="btn btn-success">Ajouter un Adherent</a>
<!-- Formulaire pour télécharger le fichier CSV -->
<form action="{{ url_for('import_csv') }}" method="POST" enctype="multipart/form-data">
    <label for="csv_file">Sélectionner un fichier CSV :</label>
    <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
    <button  class="btn btn-success" type="submit">Importer depuis CSV</button>
</form>

{% endblock %}