{% extends "base.html" %}

{% block title %}Liste des Adherents{% endblock %}

{% block content %}

<div class="container">

    <!-- Tableau des matériels -->
    <table id="materielTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Téléphone</th>
                <th>Adhésion depuis</th>
            </tr>
        </thead>
        <tbody>
            {% for adherent in adherents %}
            <tr>
                <td>{{ adherent.id_adherent }}</td>
                <td>{{ adherent.nom }}</td>
                <td>{{ adherent.prenom }}</td>
                <td>{{ adherent.email }}</td>
                <td>{{ adherent.statut.value }}</td>
                <td>{{ adherent.telephone }}</td>
                <td>{{ adherent.depuis }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<!-- Initialisation de DataTables -->
<script>
    $(document).ready(function() {
        // Initialisation de DataTables
        var table = $('#materielTable').DataTable({
            "paging": true,           // Pagination activée
            "searching": true,        // Recherche en temps réel activée
            "ordering": true,         // Tri activé
            "info": true,             // Affichage de l'information de pagination
            "lengthMenu": [10, 25, 50, 100],  // Options de nombre d'éléments par page
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/French.json" // Traduction en français
            }
        });
    });
</script>

</div>

<a href="/adherents/add" class="btn btn-success">Ajouter un Adherent</a>

<a href="/adherents/add" class="btn btn-success">Importer depuis CSV</a>

{% endblock %}