{% extends 'base.html' %}

{% block title %}Liste des Emprunts{% endblock %}

{% block content %}


<a href="{{ url_for('create_emprunt') }}" class="btn btn-success">Créer un nouvel emprunt</a>

<div class="container mt-5">

    <div class="card mb-4">
        <div class="card-header">
            Les retours à faire
        </div>
        <div class="card-body table-responsive">
            <table id="materielTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%;">ID Détails</th>
                        <th style="width: 25%;">Adhérent</th>
                        <th style="width: 25%;">Matériel</th>
                        <th style="width: 20%;">Date de début</th>
                        <th style="width: 10%;">Durée</th>
                        <th style="width: 10%;">Retour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprunt_en_cours in emprunts_retour %}
                        <tr>
                            <td><a href="{{ url_for('get_emprunt', id_emprunt=emprunt_en_cours.id_emprunt) }}">{{ emprunt_en_cours.id_emprunt }}</a></td>
                            <td>{{ emprunt_en_cours.adherent.prenom }} {{ emprunt_en_cours.adherent.nom }}</td>
                            <td>{{ emprunt_en_cours.materiel.numero_materiel }} - {{ emprunt_en_cours.materiel.nom_materiel }}</td>
                            <td>{{ emprunt_en_cours.date_debut }}</td>
                            <td>{{ emprunt_en_cours.duree }}</td>
                            <td><a href="{{ url_for('retour_emprunt', id_emprunt=emprunt_en_cours.id_emprunt) }}">Faire le retour</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            Les réservations à valider
        </div>
        <div class="card-body table-responsive">
            <table id="materielTableReservation" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID Détails</th>
                        <th>Adhérent</th>
                        <th>Matériel</th>
                        <th>Date de début</th>
                        <th>Durée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprunt_reserve in emprunts_reserve %}
                        <tr>
                            <td><a href="{{ url_for('get_emprunt', id_emprunt=emprunt_reserve.id_emprunt) }}">{{ emprunt_reserve.id_emprunt }}</a></td>
                            <td>{{ emprunt_reserve.adherent.prenom }} {{ emprunt_reserve.adherent.nom }}</td>
                            <td>{{ emprunt_reserve.materiel.numero_materiel }} - {{ emprunt_reserve.materiel.nom_materiel }}</td>
                            <td>{{ emprunt_reserve.date_debut }}</td>
                            <td>{{ emprunt_reserve.duree }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Les emprunts en cours
        </div>
        <div class="card-body table-responsive">
            <table id="materielTableEncours" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Adhérent</th>
                        <th>Matériel</th>
                        <th>Date de début</th>
                        <th>Durée</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprunt_courant in emprunts_courant %}
                        <tr>
                            <td><a href="{{ url_for('get_emprunt', id_emprunt=emprunt_courant.id_emprunt) }}">{{ emprunt_courant.id_emprunt }}</a></td>
                            <td>{{ emprunt_courant.adherent.prenom }} {{ emprunt_courant.adherent.nom }}</td>
                            <td>{{ emprunt_courant.materiel.numero_materiel }} - {{ emprunt_courant.materiel.nom_materiel }}</td>
                            <td>{{ emprunt_courant.date_debut }}</td>
                            <td>{{ emprunt_courant.duree }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('.table').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [200, 100, -1],
            "responsive": true,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/French.json"
            }
        });
    });
</script>

{% endblock %}
