{% extends "base.html" %}

{% block title %}Détails de {{ materiel.numero_materiel }} {{ materiel.nom_materiel }} {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Détails de n°{{ materiel.numero_materiel }} - {{ materiel.nom_materiel }}</h2>

    <div class="card mb-4">
        <div class="card-header">
            Emprunt en cours
        </div>
        <div class="card-body">
            {% if emprunt_en_cours %}
                <p>Le matériel est en cours d'emprunt</p>
                <a href="{{ url_for('retour_emprunt', id_emprunt=emprunt_en_cours.id_emprunt) }}" class="btn btn-success">Faire le retour de {{ emprunt_en_cours.adherent.prenom }} {{ emprunt_en_cours.adherent.nom }}</a>
            {% else %}
                <p>Aucun emprunt en cours</p>
            {% endif %}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Emprunts à venir
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Date de début</th>
                    <th>Durée</th>
                    <th>Adhérent</th>
                </tr>
            </thead>
            <tbody>
                {% for emprunt in emprunt_reserve %}
                    <tr>
                        <td>{{ emprunt.date_debut }}</td>
                        <td>{{ emprunt.duree }}</td>
                        <td>{{ emprunt.adherent.prenom }} {{ emprunt.adherent.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Etat
        </div>
        <div class="card-body">
            <td>{{ materiel.etat.value }}</td>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            Liste des réparations / entretiens
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Statut</th>
                        <th>Remarques</th>
                        <th>Montant</th>
                        <th>Date de création</th>
                        <th>Date de cloture</th>
                        <th>Réparateur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panne in liste_pannes %}
                        <tr>
                            <td>{{ panne.statut.value }}</td>
                            <td>{{ panne.remarques }}</td>
                            <td>{{ panne.montant }}</td>
                            <td>{{ panne.date_creation}}</td>
                            <td>{{ panne.date_cloture}}</td>
                            <td>{{ panne.adherent.prenom }} {{ panne.adherent.nom }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    </div>


    <!-- Informations sur le Matériel -->
    <div class="card mb-4">
        <div class="card-header">Informations Générales</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="nom_materiel" class="form-label">Nom du Matériel</label>
                <input type="text" class="form-control" id="nom_materiel" name="nom_materiel" value="{{ materiel.nom_materiel }}" readonly> 
            </div>
            <div class="mb-3">
                <label for="numero_materiel" class="form-label">Numéro du Matériel</label>
                <input type="number" class="form-control" id="numero_materiel" name="numero_materiel" value="{{ materiel.numero_materiel }}" readonly>
            </div>
            <div class="mb-3">
                <label for="prix_location_semaine" class="form-label">Prix Location Semaine</label>
                <input type="number" class="form-control" id="prix_location_semaine" name="prix_location_semaine" value="{{ materiel.prix_location_semaine }}" readonly>
            </div>
            <div class="mb-3">
                <label for="localisation" class="form-label">Localisation</label>
                <input type="text" class="form-control" id="localisation" name="localisation" value="{{ materiel.localisation }}" readonly>
            </div>
            <div class="mb-3">
                <label for="accessoires_inclus" class="form-label">Accessoires inclus :</label>
                <td>
                    {% if accessoires_inclus %}
                        <div class="list-group">
                            {% for item in accessoires_inclus %}
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{ item }}</span>
                                    <input type="checkbox" class="form-check-input" id="check_{{ loop.index }}" checked disabled>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            Aucun accessoire inclus pour ce matériel.
                        </div>
                    {% endif %}
                </td>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Caractéristiques</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="poids" class="form-label">Poids (kg)</label>
                <input type="number" class="form-control" id="poids" name="poids" value="{{ materiel.poids }}" readonly>
            </div>
            <div class="mb-3">
                <label for="dimensions" class="form-label">Dimensions (L x l x H, cm)</label>
                <input type="text" class="form-control" id="dimensions" name="dimensions" value="{{ materiel.dimensions }}" readonly>
            </div>
            <div class="mb-3">
                <label for="categorie" class="form-label">Catégorie</label>
                <input type="text" class="form-control" id="categorie" name="categorie" value="{{ materiel.categorie.value }}" readonly>
            </div>
            <div class="mb-3">
                <label for="type_energie" class="form-label">Type d'Énergie</label>
                <input type="text" class="form-control" id="type_energie" name="type_energie" value="{{ materiel.type_energie.value }}" readonly>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Détails</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="reference" class="form-label">Référence</label>
                <input type="text" class="form-control" id="reference" name="reference" value="{{ materiel.reference }}" readonly>
            </div>
            <div class="mb-3">
                <label for="num_serie" class="form-label">Numéro de Série</label>
                <input type="text" class="form-control" id="num_serie" name="num_serie" value="{{ materiel.num_serie }}" readonly>
            </div>
            <div class="mb-3">
                <label for="marque" class="form-label">Marque</label>
                <input type="text" class="form-control" id="marque" name="marque" value="{{ materiel.marque }}" readonly>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" readonly>{{ materiel.description }}</textarea>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Sécurité</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="niveau_danger" class="form-label">Niveau de danger (de 1 min à 3 max)</label>
                <input type="text" class="form-control" id="niveau_danger" name="niveau_danger" value="{{ materiel.niveau_danger }}" readonly>
            </div>
            <div class="mb-3">
                <label for="securite" class="form-label">Sécurité</label>
                <textarea class="form-control" id="securite" name="securite" rows="3" readonly>{{ materiel.securite }}</textarea>
            </div>
            <div class="mb-3">
                <label for="checklist" class="form-label">Checklist </label>
                <td>
                    {% if checklist %}
                        <div class="list-group">
                            {% for item in checklist %}
                                <div class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>{{ item }}</span>
                                    <input type="checkbox" class="form-check-input" id="check_{{ loop.index }}" checked disabled>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            Aucun checklist disponible pour ce matériel.
                        </div>
                    {% endif %}
                </td>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Documents</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="manuel_user" class="form-label">Manuel Utilisateur</label>
                
                {% if materiel.manuel_user %}
                    <div class="mb-2">
                        <a href="{{ url_for('telecharger_mu', numero_materiel=materiel.numero_materiel) }}">{{ materiel.manuel_user }}</a>
                    </div>
                {% endif %}
                
            </div>
            <div class="mb-3">
                <label for="vue_eclatee" class="form-label">Vue Éclatée</label>
                
                {% if materiel.vue_eclatee %}
                    <div class="mb-2">
                        <a href="{{ url_for('telecharger_vue_eclatee', numero_materiel=materiel.numero_materiel) }}">{{ materiel.vue_eclatee }}</a>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Entretien</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="date_vidange" class="form-label">Date de Vidange</label>
                <input type="date" class="form-control" id="date_vidange" name="date_vidange" value="{{ materiel.date_vidange }}" readonly>
            </div>
            <div class="mb-3">
                <label for="date_entretien" class="form-label">Date d'Entretien</label>
                <input type="date" class="form-control" id="date_entretien" name="date_entretien" value="{{ materiel.date_entretien }}" readonly>
            </div>
            <div class="mb-3">
                <label for="nb_heure" class="form-label">Nombre d'heures</label>
                <input type="number" class="form-control" id="nb_heure" name="nb_heure" value="{{ materiel.nb_heure }}" readonly>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Lié à l'achat</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="date_achat" class="form-label">Date d'Achat</label>
                <input type="date" class="form-control" id="date_achat" name="date_achat" value="{{ materiel.date_achat }}" readonly>
            </div>
            <div class="mb-3">
                <label for="lieu_achat" class="form-label">URL / Adresse d'achat</label>
                <input type="text" class="form-control" id="lieu_achat" name="lieu_achat" value="{{ materiel.lieu_achat }}" readonly>
            </div>
            <div class="mb-3">
                <label for="prix_achat" class="form-label">Prix d'achat</label>
                <input type="number" class="form-control" id="prix_achat" name="prix_achat" value="{{ materiel.prix_achat }}" readonly>
            </div>
            <div class="mb-3">
                <label for="facture" class="form-label">Facture</label>
                
                {% if materiel.facture %}
                    <div class="mb-2">
                        <a href="{{ url_for('telecharger_facture', numero_materiel=materiel.numero_materiel) }}">{{ materiel.facture }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Historique des emprunts
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Date de début</th>
                    <th>Durée</th>
                    <th>Adhérent</th>
                    <th>Statut</th>
                    <th>Montant payé</th>
                </tr>
            </thead>
            <tbody>
                {% for emprunt in emprunt_historique %}
                    <tr>
                        <td>{{ emprunt.date_debut }}</td>
                        <td>{{ emprunt.duree }}</td>
                        <td>{{ emprunt.adherent.prenom }} {{ emprunt.adherent.nom }}</td>
                        <td>{{ emprunt.statut.value }}</td>
                        <td>{{ emprunt.montant_paye }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>


    
    <!-- Formulaire de modification -->
    <form action="{{ url_for('edit_materiel_get', numero_materiel=materiel.numero_materiel) }}" method="get">
        <button type="submit" class="btn btn-primary">Modifier le Matériel</button>
    </form>

    <!-- Formulaire de suppression 
    <form action="{{ url_for('delete_materiel', numero_materiel=materiel.numero_materiel) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce matériel ?');">
        <button type="submit" class="btn btn-danger">Supprimer le Matériel</button>
    </form>
    -->
    <a href="{{ url_for('get_materiels') }}" class="btn btn-secondary mt-3">Retour à la liste des matériels</a>
</div>
{% endblock %}
