{% extends 'base.html' %}

{% block title %}Gestion des pannes{% endblock %}

{% block content %}


<div class="container mt-5">


    <a href="{{ url_for('nouvelle_panne') }}" class="btn btn-primary">Déclarer une nouvelle panne</a>

    <br><br>

    <div class="card mb-4">
        <div class="card-header">
            Liste des pannes ouvertes
        </div>
        <div class="card-body">
            <table id="panneEnCoursTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Matériel</th>
                        <th>Remarques</th>
                        <th>Date de création</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reparation in reparations_en_cours %}
                    <tr>
                        <td>{{ reparation.materiel.numero_materiel}} - {{ reparation.materiel.nom_materiel}}</td>
                        <td>{{ reparation.remarques }}</td>
                        <td>{{ reparation.date_creation }}</td>
                        <td><a href="{{ url_for('traiter_panne', id=reparation.id_reparation) }}">réparer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Liste des pannes terminées
        </div>
        <div class="card-body">
            <table id="panneTermineTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Matériel</th>
                        <th>Remarques</th>
                        <th>Montant</th>
                        <th>Date de création</th>
                        <th>Date de cloture</th>
                        <th>Reparateur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reparation in reparations_termine %}
                    <tr>
                        <td>{{ reparation.materiel.numero_materiel}} - {{ reparation.materiel.nom_materiel}}</td>
                        <td>{{ reparation.remarques }}</td>
                        <td>{{ reparation.montant }}</td>
                        <td>{{ reparation.date_creation }}</td>
                        <td>{{ reparation.date_cloture }}</td>
                        <td>{{ reparation.adherent.prenom }} {{ reparation.adherent.nom }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Liste des matériels en panne
        </div>
        <div class="card-body">
            <table id="materielTableEnPanne" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>Categorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for materiel in materiels_en_panne %}
                    <tr>
                        <td><a href="{{ url_for('get_materiel', numero_materiel=materiel.numero_materiel) }}">{{ materiel.numero_materiel }}</a></td>
                        <td>{{ materiel.nom_materiel }}</td>
                        <td>{{ materiel.categorie.name if materiel.categorie else 'N/A' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('.table').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [200, 100, -1],
            "responsive": true,
        });
    });
</script>

{% endblock %}
