{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Retour de l'emprunt n°{{ emprunt.id_emprunt }}</h1>
    <form method="POST">

        <div class="card mb-4">
            <div class="card-header">Adhérent</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="materiel" class="form-label"><strong>Nom : </strong>{{ emprunt.adherent.prenom }} {{ emprunt.adherent.nom }}</label>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Matériel</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="materiel" class="form-label"><strong>N° - Nom : </strong>{{ emprunt.materiel.numero_materiel }} - {{ emprunt.materiel.nom_materiel }}</label>
                </div>
                <div class="mb-3">
                    <label><strong>Accessoires inclus :</strong></label>
                    {% if accessoires %}
                        <ul class="list-unstyled">
                            {% for item in accessoires %}
                                <li>
                                    <label for="check_{{ loop.index }}">- {{ item }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Aucun accessoire pour ce matériel.</p>
                    {% endif %}
                </div>
                <!-- Checklist -->
                <div class="mb-3">
                    <label><strong>Checklist :</strong></label>
                    {% if checklist %}
                        <ul class="list-unstyled">
                            {% for item in checklist %}
                                <li>
                                    <input type="checkbox" id="checklist_{{ loop.index }}" name="checklist_{{ loop.index }}" class="form-check-input" required>
                                    <label for="checklist_{{ loop.index }}" class="form-check-label">{{ item }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Aucune checklist disponible pour ce matériel.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Consommable</div>
            <div class="card-body">
                <!-- Consommables -->
                <div class="mb-3">
                    {% if consommables %}
                        <ul id="consommables-list">
                            {% for consommable in consommables %}
                                <li id="consommable-{{ consommable.id }}">
                                    <span>Nom : {{ consommable.nom_consommable }} - Description : {{ consommable.description }} - Coût : {{ consommable.prix }} €</span>
                                    <button class="btn btn-success btn-sm" onclick="removeConsommable({{ emprunt.id_emprunt }}, {{ consommable.id_consommable }})">Récupérer</button>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Aucun consommable emprunté.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Retour</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="nb_heure">Nombre d'heures utilisé :</label>
                    <input type="number" id="nb_heure" name="nb_heure" class="form-control" step="1" min="0" value="1" required>
                    <label for="nb_heure">Matériel rendu en l'état :</label>
                    <select class="form-select" id="etat" name="etat" required>
                        {% for etat in etats %}
                            <option value="{{ etat }}" {% if etat == emprunt.materiel.etat.value %}selected{% endif %}>{{ etat }}</option>
                        {% endfor %}
                    </select>
                    <label for="remarques_panne">Remarques sur la panne (uniquement si matériel est retourné en panne) :</label>
                    <textarea id="remarques_panne" name="remarques_panne" class="form-control" rows="3"></textarea>
                </div>
            
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Remarques</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="remarques">Remarques :</label>
                    <textarea id="remarques" name="remarques" class="form-control" rows="3">{{ emprunt.remarques }}</textarea>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Dates et durées</div>
            <div class="card-body">
                <div class="mb-3">
                    <p><strong>Date de début :</strong> {{ emprunt.date_debut }}</p>
                    <p><strong>Durée saisie de l'emprunt :</strong> {{ emprunt.duree }} semaine(s)</p>
                    <p><strong>Durée réelle de l'emprunt :</strong> {{ duree_reelle }} semaine(s)</p>
                </div>
            </div>
        </div>       

        <div class="card mb-4">
            <div class="card-header">Paiement</div>
            <div class="card-body">
                <div class="mb-3">
                    <p><label for="materiel" class="form-label"><strong>Coût du matériel / semaine : </strong>{{ emprunt.materiel.prix_location_semaine }} €</label></p>
                    <p><strong>Coût réel de l'emprunt :</strong> {{ cout_reel }} €</p>
                </div>
                <div class="mb-3">
                    <label for="montant_paye">Montant payé :</label>
                    <input type="number" id="montant_paye" name="montant_paye" class="form-control" value="{{ cout_reel }}" step="0.01" min="0" required>
                </div>
            
                <div class="mb-3">
                    <label for="type_paiement">Paiement par :</label>
                    <select class="form-select" id="type_paiement" name="type_paiement" required>
                        <option value="">Sélectionnez un type de paiement</option>
                        {% for type in type_paiement %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select><br>
                </div>
            </div>
        </div> 
        
        <button type="submit" class="btn btn-success">Confirmer le retour</button>
    </form>
</div>

<script>
    function removeConsommable(empruntId, consommableId) {
        // Send an AJAX request to remove the consommable
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/remove-consommable/" + empruntId + "/" + consommableId, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        
        xhr.onload = function() {
            if (xhr.status == 200) {
                window.location.reload()
            } else {
                alert("Failed to remove consommable.");
            }
        };
        
        xhr.send();
    }
</script>


{% endblock %}
